@inject IPayrollServices payrollService
@if (displayDetail)
{
    <tr>
        <td colspan="6">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Вид</th>
                        <th>Период</th>
                        <th>Ставки/проценты</th>
                        <th>Дни</th>
                        <th>Часы</th>
                        <th>Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var type in paymentTypes)
                    {

                        <tr><td>@type.TypeName</td></tr>
                        @foreach (var payment in PaymentsPayroll)
                        {
                            if (payment.PaymentTypeId == type.Id)
                            {
                                <tr>
                                    <td></td>
                                    <td>@payment.Name</td>
                                    <td>@payment.Period</td>
                                    <td>@payment.SP</td>
                                    <td>@payment.Days</td>
                                    <td>@payment.Hours</td>
                                    <td>@payment.Summ</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </td>
    </tr>
}


@code {
    [Parameter] public bool displayDetail { get; set; }
    [Parameter] public ICollection<PaymentDTO> PaymentsPayroll { get; set; }
    [Parameter] public EventCallback onShow { get; set; }
    List<PaymentTypeDTO> paymentTypes;
    protected override void OnInitialized()
    {
        paymentTypes = payrollService.GetTypesPayment();
    }
}
